function Frog.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push constant 1
    pop this 1
    push pointer 0
    call Frog.faceForward 1
    pop temp 0
    push pointer 0
    return
function Frog.faceForward 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Frog.clearPaint 1
    pop temp 0
    push pointer 0
    call Frog.drawForwardFacingFrog 1
    pop temp 0
    push constant 1
    pop this 1
    push constant 0
    return
function Frog.faceRight 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Frog.clearPaint 1
    pop temp 0
    push pointer 0
    call Frog.drawRightFacingFrog 1
    pop temp 0
    push constant 2
    pop this 1
    push constant 0
    return
function Frog.faceLeft 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Frog.clearPaint 1
    pop temp 0
    push pointer 0
    call Frog.drawLeftFacingFrog 1
    pop temp 0
    push constant 3
    pop this 1
    push constant 0
    return
function Frog.drawForwardFacingFrog 1
    push argument 0
    pop pointer 0
    push constant 16384
    push this 0
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 22123
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 29646
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 13740
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 16380
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 2016
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 4080
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 8184
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 16380
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 28686
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 14364
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 7224
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 10836
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Frog.drawRightFacingFrog 1
    push argument 0
    pop pointer 0
    push constant 16384
    push this 0
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 16392
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 4067
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 28734
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 28553
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16370
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 24561
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 16
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 16
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 24561
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 16370
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 28553
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 28734
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 4067
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 16392
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Frog.drawLeftFacingFrog 1
    push argument 0
    pop pointer 0
    push constant 16384
    push this 0
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 4098
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 18417
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 31758
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 4599
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 20476
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 28678
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 4095
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 4095
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 28678
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 20476
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 4599
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 31758
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 18417
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 4098
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Frog.clearPaint 1
    push argument 0
    pop pointer 0
    push constant 16384
    push this 0
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return